[submodule ".registry"]
	path = .registry
	url = https://github.com/sudaraka88/sudaraka88.r-universe.dev
	branch = HEAD
[submodule "LDWeaver"]
	path = LDWeaver
	url = https://github.com/Sudaraka88/LDWeaver
